{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}

{% block body %}
<div class="container-fluid mb-3">
    <div class="row register">
        <div class="form-register col-11 col-sm-9 col-md-7 col-lg-10 mx-auto justify-content-center p-3 border border-1">
            <h2 class="display-2 text-center">Inscription</h2>
            <div class="col-10 col-lg-5 mx-auto">

    {{ form_start(registrationForm) }}
        {{ form_row(registrationForm.email) }}
        {{ form_row(registrationForm.plainPassword, {
            label: 'Password'}) }}
        {{ form_row(registrationForm.agreeTerms) }}

    <div class="button-form d-flex justify-content-center mt-3">
        <button type="submit" class="btn btn-danger btn-lg">Feu!</button>
    </div>
    {{ form_end(registrationForm) }}
{% endblock %}