{% extends 'base.html.twig' %}

{% block title %} Les Supers Vilains{% endblock %}

{% block body %}
    <div class="container-fluid mb-5">
        <div class="row profil mt-5">
            <div class="col-11 col-sm-9 col-md-7 col-lg-10 mx-auto justify-content-center p-3 border border-1">
                <h1 class="display-2 text-center mb-5"> Les Gros Moches! <a href="{{ path ('home') }}"><i class="fas fa-mask"></i></a></h1>
                <h2 class="text-center mb-5">Qui n'ont pas encore fait leur coming out</h2>
            </div>
        </div>
    </div>

    <div class="container d-flex justify-content-center flex-wrap m-3 mt-3 text-center ">
        {% for character in characters %}
            <div class="col-md-3 d-flex flex-column mt-5 mx-2">
                <div class="card text-center m-3 bg-white shadow h-100 w-100 d-flex">
                    <div class="card-header p-3 bg-white p-4 shadow ">
                        <img class="mb-3 object-cover h-100 w-100 " src="{{ character.url }}" alt="Card image cap">
                        <h5 class="card-title">{{ character.heroName}}</h5>
                    </div>
                    <div class="card-body">
                        <p class="card-text text-dark">Identité : {{ character.realName }}</p>
                        <p class="card-text text-dark">Force : {{ character.strength }}</p>
                        <div class="text-center mx-auto bottom-10"><a href="{{ path('evils_show', {id: character.id}) }}" type="button" class="btn btn-dark"><i class="far fa-eye"></i></a></div>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
    </div>

{% endblock %}