<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid ">
        <a class="navbar-brand mt-3 mb-3" href="{{ path ('home') }}">Super Heros</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Super Héros
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <li><a class="dropdown-item" href="{{ path ('heroes') }}">Toute la clique</a></li>
                        <li><a class="dropdown-item" href="{{ path ('muscles') }}">Les musclés en collant</a></li>
                        <li><a class="dropdown-item" href="{{ path ('feminists') }}">Les féministes</a></li>
                        <li><a class="dropdown-item" href="{{ path ('undefined') }}">Tous genres</a></li>
                    </ul>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Super Vilains
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <li><a class="dropdown-item" href="{{ path ('evils') }}">Toute la clinique</a></li>
                        <li><a class="dropdown-item" href="{{ path ('ugly') }}">Les vilains Psychopathes</a></li>
                        <li><a class="dropdown-item" href="{{ path ('fifilles') }}">Les vilaines fifilles</a></li>
                        <li><a class="dropdown-item" href="{{ path ('comingOut') }}">Les Gros Moches</a></li>
                    </ul>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Ajouter des personnages
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <li><a class="dropdown-item" href="{{ path ('character_add') }}">Ajout d'un Super</a></li>
                    </ul>
                <li class="nav-item">
                    <a class="nav-link" href="{{ path ('contact') }}">Nous contacter</a>
                </li>
                </li>
            </ul>
        </div>
    </div>
</nav>