<div class="container-fluid">
    <div class="swiper" id="swiper">
        <div class="swiper-wrapper mt-5 mb-1">
            <div class="swiper-slide" data-swiper-autoplay="3000">
                <img src="{{ asset ('build/images/batman2.jpg') }}" alt="image" height="600" width="800">
            </div>
            <div class="swiper-slide" data-swiper-autoplay="3000">
                <img src="{{ asset ('build/images/iron.jpg') }}" alt="image" height="800" width="800">
            </div>
            <div class="swiper-slide" data-swiper-autoplay="3000">
                <img src="{{ asset ('build/images/spider.jpg') }}" alt="image" height="800" width="800">
            </div>
            <div class="swiper-slide" data-swiper-autoplay="3000">
                <img src="{{ asset ('build/images/deadpool3.jpg') }}" alt="image" height="800" width="800">
            </div>
            <div class="swiper-slide" data-swiper-autoplay="3000">
                <img src="{{ asset ('build/images/wonder2.jpg') }}" alt="image" height="800" width="800">
            </div>
            <div class="swiper-slide" data-swiper-autoplay="3000">
                <img src="{{ asset ('build/images/hulk.jpg') }}" alt="image" height="800" width="800">
            </div>
            <div class="swiper-slide" data-swiper-autoplay="3000">
                <img src="{{ asset ('build/images/joker.png') }}" alt="image" height="800" width="800">
            </div>
            <div class="swiper-slide" data-swiper-autoplay="3000">
                <img src="{{ asset ('build/images/superman2.jpg') }}" alt="image" height="800" width="800">
            </div>

        </div>
    </div>
</div>
